<h1> What is Internet Of Things </h1>
<body>
<p>The internet of things (IoT) describes the idea of everyday physical objects 
being connected to the internet and being able to identify themselves to other 
devices.Any object which represents itself digitally is no longer related to 
just a user but now gets connected to surrounding objects and database data.</p>

<h3> Evolution of IoT </h3>
<p>
In the year 1991, Tim Berners-Lee makes history again creating the very first
web page.
In 1993, the Trojan Room Coffee Pot sent images to University of Cambridge 
servers about three times a minute; and once browsers were capable of displaying 
images, they were put online.
In 1994, online banking made its debut and Pizza Hut opened up the first online
pizza shop. The first secure financial transaction happened and which achieved
it first, Internet Shopping Network or NetMark is a tossup. Soon after in 1995,
Echobay (now EBay) and Amazon hit the Internet.</p>

<h3> Real World Applications of IoT </h3>
<p><h5> Smart Home : </h5> Smart Home has become the revolutionary ladder of
success in the residential spaces and it is predicted Smart homes will
become as common as  smartphones. 
<h5> Connected Cars : </h5> A connected car is a vehicle which is able to
optimize it’s own operation, maintenance as well as comfort of passengers using
onboard sensors and internet connectivity.
<h5> IoT in agriculture : </h5> Farmers are using meaningful insights from the
data to yield better return on investment. Sensing for soil moisture and 
nutrients, controlling water usage for plant growth and determining custom
fertilizer are some simple uses of IoT.</p>
</body>

